.aboutMeMainContainer {
	min-width: 100%;
	min-height: 100vh;
	padding: 100px;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 25px;
}

.aboutMe {
	width: 500px;
	height: 500px;
	background-color: #384248;
	padding: 30px;
	border-radius: 40px;
	transition: 3s ease;
}

.aboutMe:hover {
	transition: 1s ease;
	box-shadow: 1px 2.8px 2.2px 20px rgba(238, 3, 3, 0.034),
		1px 6.7px 5.3px 20px rgba(193, 5, 5, 0.048),
		1px 12.5px 10px 20px rgba(228, 5, 5, 0.06),
		1px 22.3px 17.9px 20px rgba(212, 13, 13, 0.072),
		1px 41.8px 33.4px 20px rgba(229, 13, 13, 0.086),
		1px 100px 80px 20px rgba(240, 8, 8, 0.12);
}

.jsonValuesString {
	color: #dc6601;
}

.jsonValuesNumber {
	color: #c3e88d;
}

.jsonProps {
	color: #c792ea;
	margin-left: 10px;
}

.curlyBraces {
	margin-left: 20px;
}

.expValues {
	margin-left: 20px;
}

.langs {
	margin-left: 20px;
}
