$mobile: 800px;
$pad: 1280px;
// $primaryColor: #f9c8d9;
// $mainBackgroundColor: #fce9ef;
$primaryColor: #384852;
$mainBackgroundColor: #eceef5;
$fontColor: #eceef5;
$paperShadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
