@import "../../styles/variables.scss";

.pagesMainContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	@media only screen and (max-width: $mobile) {
		flex-direction: row;
		margin-top: 10px;
	}
}

.homeAstro {
	width: 62px;
	height: 62px;
}

.backgroundCircleHome {
	display: flex;
	justify-self: center;
	align-items: center;
	background-color: #e63b60;
	border-radius: 50%;
	width: 65px;
	height: 62px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.backgroundCircleMan {
	display: flex;
	justify-self: center;
	align-items: center;
	background-color: #7dcfb6;
	border-radius: 50%;
	width: 65px;
	height: 62px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	margin-top: 10px;
	@media only screen and (max-width: $mobile) {
		margin-left: 10px;
		margin-top: 0px;
	}
}

.backgroundCircleGetInTouch {
	display: flex;
	justify-self: center;
	align-items: center;
	background-color: #ffd662;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	margin-top: 10px;
	@media only screen and (max-width: $mobile) {
		margin-left: 10px;
		margin-top: 0px;
	}
}
