@import "../styles/variables.scss";

.body {
	display: flex;
	flex-direction: column;
	// margin-top: 50px;
	align-items: center;
	flex: 1;
}

.headerVideoContainer {
	display: flex;
	overflow: hidden;
	@media only screen and (min-width: $pad) {
		height: 100vh;
		width: 100%;
	}
}

.aboutUs {
	@media only screen and (min-width: $pad) {
		padding-top: 100px;
	}
	width: 100%;
}

.ourWork {
	width: 100%;
	padding: 100px;
	height: 600px;
	background-image: url("/images/mother-dear-background.jpeg");
}

.ourWorkMainCointainer {
	width: 100%;
	height: 600px;
}

.video {
	@media only screen and (max-width: $mobile) {
		width: 200px;
	}
}

.screenshots {
	padding-top: 50px;
	width: 100%;
}

.aboutMe {
	display: inline-block;
}

.getInTouch {
	display: flex;
}
