@import "../../styles/variables.scss";

.getInTouchMainContainer {
	min-width: 100%;
	min-height: 100vh;
	padding: 100px;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 25px;
}

.seceondayFrom {
	width: 500px;
	height: 500px;
	background-color: orange;
	padding: 30px;
	border-radius: 40px;
}

.mainFrom {
	width: 500px;
	height: 500px;
	background-color: #384248;
	padding: 30px;
	border-radius: 40px;
	position: absolute;
}

.mainFormContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.inputField {
	border-radius: 20px;
	border: none;
	width: 250px;
	height: 40px;
	outline: none !important;
}

.inputTextField {
	width: 218px;
	line-height: 50px;
	background-color: transparent;
	//  background-color: red;
	outline: none;
	font-size: 16px;
	color: $fontColor;
	border-width: 0 0 2px;
	animation: 4s infinite;
	// margin-left: 30px;
	margin-bottom: 10px;
	display: flex;
	text-align: center;
	@media only screen and (max-width: $mobile) {
		width: 200px;
		font-size: 15px;
		margin-left: 0px;
	}
}

.inputTextField:focus {
	border-color: #7dcfb6;
}
